*.a
*.o
*~
/#*compilation*#
/#INSTALL#
/#README#
/#d#
/#free.sh#
/#moesi.c#
/#pfd.h#
/#run_opteron.sh#
/*compilation*
/*eshell*
/.#INSTALL
/.#README
/.#README.md
/.#d
/.#moesi.c
/.#moesi.h
/.#pfd.h
/.#run_opteron.sh
/.tmp
/any.sh
/cat_proc.sh
/ccbench
/ccbench.S
/conf.run.tmp
/core
/d
/dd
/free.sh
/help
/moesi
/moesi_old
/moesi_sosp
/moesi_th.c
/msr
/ps_a.sh
/run
/run_with_confidence.sh
/s
/ss
/sss
/xeon_cores
/xeon_dist.out
cscope.*
